{% extends "layout.html" %}
{% block title %}Pinball Scores{% endblock %}

{% block content %}
<div class="container-md px-0 main-container">
  <h4 class="text-center">Laser Cue</h4>
  <table class="table table-striped table-sm table-bordered score-table">
      <tr>
          <th>#</th>
          <th data-key="created_at" class="sortable {{ sort_order if sort_key == 'created_at' else ''}}">Date</th>
          <th data-key="score" class="sortable {{ sort_order if sort_key == 'score' else ''}}">Score</th>
          <th data-key="player_name" class="sortable {{ sort_order if sort_key == 'player_name' else ''}}">Name</th>
      </tr>
      {% for score in scores -%}
      <tr class="align-middle">
          <td>{{ loop.index }}</td>
          <td>
            <a href="{{ url_for('show_game', game_id=score.game_id) }}">
              {{ score.created_at | format_time }}
            </a>
          </td>
          <td>{{ score.score | commaify }}</td>
          <td>
            {% if score.player_name is not none %}   
              {{ score.player_name }}
            {% elif score.recent %}
              <button
                type="button"
                class="btn btn-primary btn-tiny set-player-name"
                data-score-id="{{score.id}}">Set</button>
            {% else %}
              <span class="text-muted fst-italic">?</span>
            {% endif %}
          </td>
      </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}