{% extends "layout.html" %}
{% block title %}Pinball Scores{% endblock %}

{% macro sort_header(key, text) -%}
<th data-key="{{ key }}" class="sortable {{ sort_order if sort_key == key else ''}}">
  <a href="{{
    url_for(
      'index',
      sort=key,
      order=('asc' if (sort_order == 'desc' and sort_key == key) else 'desc'))
  }}">{{ text }}</a>
</th>
{%- endmacro %}

{% block content %}
<div class="container-md px-0 main-container">
  <h4 class="text-center">Laser Cue</h4>
  <table class="table table-striped table-sm table-bordered score-table">
      <tr>
          <th>#</th>
          {{ sort_header('created_at', 'Date') }}
          {{ sort_header('score', 'Score') }}
          {{ sort_header('name', 'Name') }}
      </tr>
      {% for score in scores -%}
      <tr class="align-middle">
          <td>{{ loop.index }}</td>
          <td>
            <a href="{{ url_for('show_game', game_id=score.game_id) }}">
              {{ score.created_at | format_time }}
            </a>
          </td>
          <td>{{ score.score | commaify }}</td>
          <td>
            {% if score.player_name is not none %}   
              {{ score.player_name }}
            {% elif score.recent %}
              <button
                type="button"
                class="btn btn-primary btn-tiny set-player-name"
                data-score-id="{{score.id}}">Set</button>
            {% else %}
              <span class="text-muted fst-italic">?</span>
            {% endif %}
          </td>
      </tr>
      {% endfor %}
  </table>
</div>

<div class="modal fade" id="player-name-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Enter player initials</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" id="player-name-input" maxlength="3"
          spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off">
        <div class="form-text">
          Maximum 3 characters
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-player-name">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}