.btn-tiny {
  --bs-btn-padding-y: .1rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: 1rem;
}

th.sortable {
/*  cursor: pointer;*/
}

th.sortable > a {
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: none;

  background-image: url("/static/sort.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 0.5rem) 50%;
  background-size: 0.5rem;
  padding-right: 1.5rem;
}

th.sortable.asc > a {
  background-image: url("/static/sort-up.svg");
}

th.sortable.desc > a {
  background-image: url("/static/sort-down.svg");
}

th.sortable > a:hover {
  color: #333;
}

.main-container {
  max-width: 60em;
}

.score-table tr > td:first-child {
  width: 0;
}

#player-name-input {
  text-transform: uppercase;
}