<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>

<header class="d-flex flex-wrap justify-content-center py-1 mb-2 border-bottom">
  <span class="fs-2"><strong>Pinball Scores</strong></span>
</header>

{% block content %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="/static/script.js"></script>

</body>
</html>